

/* FirstDisplay */
.firsDisplayRelaksRELAKS{
    height: 100vh;
    width: 100vw;
}
.firsDisplayRelaksRELAKS img{
    height: 100vh;
    width: 100vw;
}
.placeForFirstButtonRelaksRELAKS{
    display: flex;
    position: absolute;
    top:50vh;
    left:50vw;
    border-radius: 20px;
    padding: 1vh;
}
.placeForFirstButtonRelaksRELAKS button{
    margin: 0 1vw; 
    border: none;
    background-color: #ffffffbd; 
    border-radius: 15px;
}
.placeForFirstButtonRelaksRELAKS button:hover{
  cursor: pointer;
  animation: shake 0.85s linear 0s;
  
}
@keyframes shake{
    0%{transform: rotate(0deg) ;}
    25%{transform:rotate(-15deg) scale(1.1) ;}
    50%{transform: rotate(0deg) scale(1.1);}
    75%{transform: rotate(15deg) scale(1.1);}
    100%{transform: rotate(0deg);}
}
.placeForFirstButtonRelaksRELAKS img{
    height: 12vw;
    width: 12vw;
    border: 12px solid black;
    border-radius: 50%;
    top: 10vh;
}

.lowerInscriptionRelaksRELAKS{
    display: flex;
    position: absolute;
    top:80vh;
    left:10vw;
    height: 20vh;
    font-size: 25px;
    color: #E3F2FD;
    padding:0 1vw;
}
.lowerInscriptionRelaksRELAKS p{
    background-color: rgba(106, 106, 106, 0.493);
    height: 40px;
    margin-top:15vh;
}
.lowerInscriptionRelaksRELAKS a{
    color:#3700b3;
    top: 90vh;
    font-weight: bold;     
}
.lowerInscriptionRelaksRELAKS span:hover{
   cursor: pointer;
}


@media(max-width:480px){
    .placeForFirstButtonRelaksRELAKS{
        left:1vw;
    }
    .placeForFirstButtonRelaksRELAKS img{
        height: 18vw;
        width: 18vw;
        border: 5px solid black;
        border-radius: 50%;
        top: 10vh;
    }
    .lowerInscriptionRelaksRELAKS{
        font-size: 13px;
        left:1vw;
    }
    .lowerInscriptionRelaksRELAKS p{
        height: 60px;
        margin-top:10vh;
    }
}

@media(min-width:481px) and (max-width:900px){
    .placeForFirstButtonRelaksRELAKS{
        left:10vw;
        top:40vh
    }
    .placeForFirstButtonRelaksRELAKS img{
        height: 18vw;
        width: 18vw;
        border: 5px solid black;
        border-radius: 50%;
        top: 10vh;
    }
    .lowerInscriptionRelaksRELAKS{
        font-size: 13px;
        left:1vw;
    }
    .lowerInscriptionRelaksRELAKS p{
        height: 40px;
        margin-top:5vh;
    }
}