.space{
    position: absolute;
    display: flex;
    height: 250vh;
    margin-top: -80vh;
    z-index: -1;
    transform: translateX(10VW);
}
@media only screen and (max-width: 480px){
    .space{
        width: 100vw;
        transform: translateX(-10VW);
    }
}